__pycache__/
*.py[cod]
*$py.class

*.sqlite3
db.sqlite3

.env
.env.*

.git/
.gitignore

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

media/
staticfiles/

.DS_Store

*.log

local_data_backup.json